.box {
  background: rgba(55, 55, 55, 100);
  width: 100vw;
  height: 100vh;
}

/*.Project {*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.Home__Wrapper {
  position: absolute;
  width: 100%;
}

.Background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.Overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(55, 55, 55, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PressuraRegular", sans-serif;
}

.Title {
  color: rgba(250, 250, 250, 100);
  font-weight: normal;
  font-size: 3rem;
}
