@import "../variables";

.Overlay {
  width: calc(100vw - 2rem);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", serif;
  color: $color-gray;
  background: $color-white;
  padding: 2rem 1rem 3rem 1rem;

  @media (min-width: 768px) {
    width: calc(100vw - 4rem);
    padding: 2rem 2rem 3rem 2rem;
  }

  &.electricPink {
    border-top: 5px solid $electricPink;
  }

  &.electricGreen {
    border-top: 5px solid $electricGreen;
  }

  &.electricBlue {
    border-top: 5px solid $electricBlue;
  }

  &.electricWatermelon {
    border-top: 5px solid $electricWatermelon;
  }

  &.electricOrange {
    border-top: 5px solid $electricOrange;
  }

  &.electricMint {
    border-top: 5px solid $electricMint;
  }
}

.Title {
  font-weight: normal;
  font-size: 2rem;
  margin: 2rem 0 3rem 0;
  line-height: 2.5rem;
}

.Text {
  max-width: 600px;
  font-size: 1.2rem;
  margin: 2rem auto;
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;

  @media (min-width: 768px) {
    margin: 5rem auto;
  }

  &__Wide {
    max-width: 800px;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin: 3rem auto 0;
    }
  }
}

.Body {
  border-radius: 10px;
  margin: 0 1rem;
  width: 100%;
  max-width: 900px;
}

.Image {
  max-width: 900px;
  width: calc(100% - 10px);
  margin: 0 auto;

  &.electricPink {
    box-shadow: 10px 10px 0 0 $electricPink;
    border: 2px solid $electricPink;
  }

  &.electricGreen {
    box-shadow: 10px 10px 0 0 $electricGreen;
    border: 2px solid $electricGreen;
  }

  &.electricBlue {
    box-shadow: 10px 10px 0 0 $electricBlue;
    border: 2px solid $electricBlue;
  }

  &.electricWatermelon {
    box-shadow: 10px 10px 0 0 $electricWatermelon;
    border: 2px solid $electricWatermelon;
  }

  &.electricOrange {
    box-shadow: 10px 10px 0 0 $electricOrange;
    border: 2px solid $electricOrange;
  }

  &.electricMint {
    box-shadow: 10px 10px 0 0 $electricMint;
    border: 2px solid $electricMint;
  }
}

.Project {
  &__Intro {
    margin: 3rem 0;
  }

  &__Panel {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 1rem 0;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__Label {
    min-width: 30%;
    font-weight: bold;
    margin: 0;
  }

  &__Info {
    margin: 0;

    a {
      text-decoration: underline;
    }
  }
}

.Gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

  &__Image {
    max-width: 100%;
    margin: 1rem 0;
    border: 1px solid #696969;

    @media (min-width: 768px) {
      max-width: calc(50% - 42px);
      margin: 20px;
    }
  }
}
