@import "variables";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  min-height: 100vh;
  color: $color-gray;
}

.Back {
  align-self: flex-start;
  margin-top: 2rem;
  color: $color-gray;
}
