$color-gray: rgba(45, 45, 45, 100);
$color-white: rgba(250, 250, 250, 100);

$electricPink: #f62eb8;
$electricGreen: #a0d629;
$electricBlue: #50bfe6;
$electricWatermelon: #fd5b78;
$electricOrange: #ff9933;
